<div *ngIf="hero">

        <h2>{{hero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{hero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
            <!-- [(ngModel)] is twoway binding property and event -->

            <!-- (event)  -->
            <!-- view to model -->
            <!-- like click event to do something with the ts -->


            <!-- [property] -->
            <!-- model to view -->
            <!-- imgUrl = http://this.this/and/this -->
            <!-- binding it would be like <img [src]="imgUrl" -->
            <!-- where imgUrl is declare on the component.ts -->


            <!-- [(twoway)] -->
            <!-- view to model and model to view -->

          </label>
        </div>
      
      </div>